@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;
}
body{
    width: 100vw;
}


.flashmcqueen__wrapper{
    position: fixed;

    top: 100px;
    right: 50px;

    height: fit-content;

    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

/*Animations*/
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes fadeOut{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
@keyframes float {
    0% {
        filter: drop-shadow(0px 5px 4px rgba(0,0,0,0.4));
        transform: translatey(0);
    }
    50% {
        filter: drop-shadow(0px 15px 4px rgba(0,0,0,0.1));
        transform: translatey(-5px);
    }
    100% {
        filter: drop-shadow(0px 5px 4px rgba(0,0,0,0.4));
        transform: translatey(0);
    }
}

.flashmcqueen__wrapper .flashmcqueen__wrapper_msg{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: fit-content;

    margin: 2%;

    background: #fff;

    /*border-left: 4px solid #000;
    border-top: 4px solid #000;
    border-bottom: 4px solid #000;*/
    border: 4px solid #000;

    animation: fadeIn var(--fadeIn) ease-in-out forwards 1;
}

/*Closing animation*/
.flashmcqueen__wrapper .flashmcqueen__wrapper_msg.flashmcqueen_close{
    animation: fadeOut var(--fadeOut) ease-in-out forwards 1 !important;
}

.flashmcqueen__wrapper .flashmcqueen__wrapper_msg > *{
    white-space: nowrap;

    padding: 1vh 0;
}
.flashmcqueen__wrapper .flashmcqueen__wrapper_msg > p{
    flex: 1;

    text-align: left;
    color: #fff;

    margin: 0 1vh;
}
.flashmcqueen__wrapper .flashmcqueen__wrapper_msg > span{
    width: 50px;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #fff;
    fill: #fff;
}
.flashmcqueen__wrapper .flashmcqueen__wrapper_msg .flashmcqueen_icon{
    background: #fff;
}
.flashmcqueen__wrapper .flashmcqueen__wrapper_msg .close{
    transform: rotate(0deg);

    transition: transform 1s cubic-bezier(.44,-0.36,.29,.84);
}
.flashmcqueen__wrapper .flashmcqueen__wrapper_msg .close:hover{
    transform: rotate(360deg);
}


/*Animations*/
.flashmcqueen__wrapper .flashmcqueen_floating{
    animation: float 3s ease-in-out infinite forwards;
}
